<!DOCTYPE html>
<html>
  <header>
    <title>Mjapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
